# ignore target folders
Faster-R-CNN/pred_results/*
Faster-R-CNN/save_weights/*
Faster-R-CNN/test_results/*
Faster-R-CNN/*.json
Faster-R-CNN/reinfer_results/*
Faster-R-CNN/Logs/*
Faster-R-CNN/pred*
__pycache__

# ignore target files
Faster-R-CNN/.*
Faster-R-CNN/*.png
Faster-R-CNN/*.txt
